.container {
  max-width: 800px;
  margin-top: 15px;
}

.name {
  margin: 0px;
}

.about-container {
  margin-top: 5px;
}

.drio-photo-container {
  flex-grow: 0;
}

.drio-img {
  border-radius: 5px;
}

.uci-stripes {
  flex-grow: 0;
}

.uci {
  width: 20px;
  height: 5px;
}

.no-grow {
  flew-grow: 0;
}



.uci-blue { background-color: #0177C6; }
.uci-red { background-color: #C8133C; }
.uci-black { background-color: #000000; }
.uci-yellow { background-color: #F8E000; }
.uci-green { background-color: #32B332; }
