<div class="row">
  <div class="col drio-photo">
    <img src="drio-intro.jpg" alt="drio">
  </div>

  <div class="col">
    <div class="row">
        <div class="col">
          <h4> David Rio </h4>
        </div>
    </div>

    <div class="row">
        <div class="col">
          <p>
            Hey! glad to see you here. My name is David Rio and I am a computer engineer
            living in Charleston, SC. I help people leverage technology to improve their
            businesses or projects by building web applications, crafting data
            visualizations or writing analytical tools. When I am not working I like to
            ride my bike, hike or read a book. I'd love to hear from you. Please, drop me
            a line to david at drio dot org.
          </p>
        </div>
    </div>

  </div>
</div>
