<!DOCTYPE html>
<html lang="en">
  {{ $style := resources.Get "bootstrap.css" | resources.Minify | resources.Fingerprint}}
  {{ $styleCustom := resources.Get "custom.css" | resources.Minify | resources.Fingerprint}}
  {{ $d3 := resources.Get "d3.v5.js" | resources.Minify | resources.Fingerprint}}
  <head>
    <meta charset="utf-8">
    <title>David rio</title>
    <link rel="stylesheet" href="{{ $style.Permalink }}">
    <link rel="stylesheet" href="{{ $styleCustom.Permalink }}">
    <script src="{{ $d3.Permalink}}" charset="utf-8"></script>
  </head>
  <body>

    <div class="container">

			<div class="text-center">
				<div>
					<a href="/" style="color: #000000"> <h3 class="name"> David Rio </h3> </a>
				</div>
				<div>
				Email: {{ partial "email" .}}
				</div>
				<div>
					<a href="/about">about</a> |
					<a href="/cv">cv</a> |
					<a href="http://github.com/drio">github</a> |
					<a href="https://instagram.com/driodeiros/">instagram</a> |
					<a href="https://www.linkedin.com/in/driodeiros/">linkedin</a>
				</div>
			</div>
			<hr>
			<br>
