<!DOCTYPE html>
<html lang="en">
  {{ $style := resources.Get "bootstrap.css" | resources.Minify | resources.Fingerprint}}
  {{ $styleCustom := resources.Get "custom.css" | resources.Minify | resources.Fingerprint}}
  {{ $d3 := resources.Get "d3.v5.js" | resources.Minify | resources.Fingerprint}}
  <head>
    <meta charset="utf-8">
		<link rel="icon" href="/favicon.png">
    <title>David Rio</title>
    <link rel="stylesheet" href="{{ $style.Permalink }}">
    <link rel="stylesheet" href="{{ $styleCustom.Permalink }}">
    <script src="{{ $d3.Permalink}}" charset="utf-8"></script>
  </head>
  <body>
    <div class="container">
