<!--
{{ range .Site.Pages }}
{{ if eq .Type "projects" }}
  {{.Params.title}}
  <a href="{{.URL}}">{{.Params.title}}</a>
  <br>
{{end}}
{{ end }}
-->

<div id="cards" style="margin: 0 -.35rem;">
	<div class="card-columns">

		{{ range .Site.Pages.ByDate }}
		{{ if (and (eq .Type "projects") (ne .Title "Projects")) }}
			<div class="card" style="border: 0px">
				<a href="{{.Params.link}}"> 
					<img src="/projects/{{.Params.img}}" style="border-radius: 20px"
						width="257px" height="334px">
				</a>
				<div class="title" style="padding-top: 5px;">
					<a href="{{.Params.link}}">{{.Params.title}}</a>
				</div>
				<div class="desc" style="padding-top:5px;">{{.Content}}</div>
			</div>
			<br>
		{{end}}
		{{ end }}

	</div>
</div> 
